// ==============================
// 変数定義
// ==============================
//余白
$space_s: 0.3rem;
$space_m: 1rem; //16px
$space_l: 1.5rem;
$space_xl: 2.0rem;
//文字サイズ
$font-size_20px: 20px;
$font-size_18px: 18px;